.app {
  width: 30rem;
  margin: 3rem auto;
  padding: 1rem;

  text-align: center;

  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.app h1 {
  margin: 0;
  text-align: center;
}
